<div class="navbar">
  <div class="flex-1">
    <.link patch="/" class="btn btn-ghost text-xl">headless</.link>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <.link href="https://github.com/teamon/headless">GitHub</.link>
      </li>
    </ul>
  </div>
</div>

<div class="flex p-4 gap-4">
  <%= @inner_content %>
</div>
